<.pos_layout
  id={"addon-#{@addon.identifier}-page"}
  class="pos-shell invoice-view"
  active_page={:installed_addons}
  scope={@scope}
  stores={@stores}
  store_id={@store_id}
  aria-label={@addon.name}
>
  <section class="catalog-panel">
    {@entrypoint.render(@context)}
  </section>
</.pos_layout>
