<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="PosServer" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link rel="stylesheet" href={~p"/assets/ui/default-semantic-tokens.css"} />
    <link rel="stylesheet" href={~p"/assets/ui/fonts/inter.css"} />
    <link rel="stylesheet" href={~p"/assets/ui/components/typography/typography.css"} />
    <link rel="stylesheet" href={~p"/assets/ui/components/button/button.css"} />
    <link rel="stylesheet" href={~p"/assets/ui/components/input/input.css"} />
    <link rel="stylesheet" href={~p"/assets/ui/components/label/label.css"} />
    <link rel="stylesheet" href={~p"/assets/ui/components/card/card.css"} />
    <link rel="stylesheet" href={~p"/assets/ui/components/form/form.css"} />
    <link rel="stylesheet" href={~p"/assets/ui/components/separator/separator.css"} />
    <link rel="stylesheet" href={~p"/assets/ui/components/alert/alert.css"} />
    <link rel="stylesheet" href={~p"/assets/ui/components/dialog/dialog.css"} />
    <link rel="stylesheet" href={~p"/assets/ui/components/toast/toast.css"} />
    <link rel="stylesheet" href={~p"/assets/ui/components/table/table.css"} />
    <link rel="stylesheet" href={~p"/assets/ui/components/select/select.css"} />
    <link rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer src={~p"/assets/phoenix.js"}></script>
    <script type="module" src={~p"/assets/liveview.js"}></script>
    <script defer src={~p"/assets/theme.js"}></script>
  </head>
  <body>
    <div>{@inner_content}</div>
  </body>
</html>
